<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ch17/src/ch17_12_類別分別繼承父類別與實作介面發生方法名稱衝突/ch17_12.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch17_12_類別分別繼承父類別與實作介面發生方法名稱衝突.ch17_12"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ch17"/>
</launchConfiguration>
