<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flask web</title>
</head>

<body>
    <h1>this is Flask web site</h1>
    <br> <br>
    <p>HTML code</p>
    <br>
    <form method="post" action="login">
        <br>
        <input type="text" name="username" />
        <br>
        <button type="submit">submit</button>
    </form>
    <br>
    <form method="post" action=" ">
        <br>
        <input type="text" name="username" />
        <br>
        <button type="submit">submit</button>
    </form>
    <br>
    <form method="post" action="/login_1">
        <label form="fname">First name:</label>
        <input type="text" id="fname" name="firstname">
        <br>
        <br>
        <label for="lname">Last name : </label>
        <input type="text" id="lname" name="lastname" />
        <br>
        <input type="submit" name="Submit" />
    </form>
</body>

</html>