<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Show data</title>
</head>

<body>
    <h3 align="center">Display Mysql data</h3>
    <table border="1" align="center" cellpadding="2"  cellspacing="2">
    	<tr>
    		<th>ID </th>
    		<th>User ID </th>
    		<th>Temperture</th>
    		<th>Data Time </th>
    	</tr>
    </table>
    <br>
    <br>
    <table border="1" align="center" cellpadding="2"  cellspacing="2">
    	{%for row in data%}
    	<tr>
    		{%for d in row%}
    		<td>{{d}}</td>
    		{% endfor %}
    	</tr>
    	{% endfor %}
    </table>
</body>

</html>